[submodule "arm-zena-css"]
	path = arm-zena-css
	url = git@github.com:cometzero/arm-zena-css.git
	branch = feature/qbox-dev
[submodule "hsoc-stack/components/primary_compute/linux"]
	path = hsoc-stack/components/primary_compute/linux
	url = git@github.com:cometzero/linux.git
	branch = apollo-fvp-linux-6.18-rt
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = git@github.com:cometzero/meta-arm.git
	branch = patched-21894cc2ea3197e6bfc1a56d889f757a09dc8b31
[submodule "layers/meta-bluechi"]
	path = layers/meta-bluechi
	url = https://github.com/eclipse-bluechi/bluechi-on-yocto.git
	branch = walnascar
[submodule "layers/meta-cassini"]
	path = layers/meta-cassini
	url = git@github.com:cometzero/meta-cassini.git
	branch = patched-4dad481980fb8a700cce8402bece7cf1bebbdee3
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = git@github.com:cometzero/meta-clang.git
	branch = patched-003cba92e982bdd565a6889f28799f8bba14957e
[submodule "layers/meta-ewaol"]
	path = layers/meta-ewaol
	url = git@github.com:cometzero/meta-ewaol.git
	branch = patched-4ba5f48c4e10ad2a0271bb2287a66688e6c2fa15
[submodule "layers/meta-mender"]
	path = layers/meta-mender
	url = https://gitlab.com/Linaro/cassini/meta-mender
	branch = styhead
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git@github.com:cometzero/meta-openembedded.git
	branch = patched-80ab58cc404959ae2f0e8b2e68935b3bfd8e8cfe
[submodule "layers/meta-ptx"]
	path = layers/meta-ptx
	url = https://github.com/pengutronix/meta-ptx
	branch = walnascar
[submodule "layers/meta-secure-core"]
	path = layers/meta-secure-core
	url = git@github.com:cometzero/meta-secure-core.git
	branch = patched-243281acbb4d3839b80b795030a7f4900e254735
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://git.yoctoproject.org/git/meta-security
	branch = walnascar
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = git@github.com:cometzero/meta-virtualization.git
	branch = patched-898239e810acbb7db93299f20deec8afe434f11b
[submodule "layers/meta-zephyr"]
	path = layers/meta-zephyr
	url = https://git.yoctoproject.org/meta-zephyr
	branch = walnascar
[submodule "layers/poky"]
	path = layers/poky
	url = git@github.com:cometzero/poky.git
	branch = patched-a704e5171ce4f87e27408934b593e5a186ac1960
[submodule "sw-ref-stack"]
	path = sw-ref-stack
	url = https://gitlab.arm.com/automotive-and-industrial/arm-auto-solutions/sw-ref-stack.git
	branch = main
[submodule "tools/qbox"]
	path = tools/qbox
	url = git@github.com:cometzero/qbox.git
	branch = feature/qbox-dev
[submodule "tools/qemu"]
	path = tools/qemu
	url = git@github.com:cometzero/qemu.git
	branch = feature/qbox-dev
[submodule "hsoc-stack/components/primary_compute/u-boot"]
	path = hsoc-stack/components/primary_compute/u-boot
	url = git@github.com:cometzero/u-boot.git
	branch = apollo-fvp-u-boot-2026.01
[submodule "hsoc-stack/components/primary_compute/trusted-firmware-a"]
	path = hsoc-stack/components/primary_compute/trusted-firmware-a
	url = git@github.com:cometzero/trusted-firmware-a.git
	branch = apollo-fvp-tfa-2.14
[submodule "hsoc-stack/components/system_mgmt/trusted-firmware-m"]
	path = hsoc-stack/components/system_mgmt/trusted-firmware-m
	url = git@github.com:cometzero/trusted-firmware-m.git
	branch = apollo-fvp-tfm-2.2
[submodule "hsoc-stack/components/system_mgmt/scp-firmware"]
	path = hsoc-stack/components/system_mgmt/scp-firmware
	url = git@github.com:cometzero/SCP-firmware.git
	branch = apollo-fvp-scp-2.16
[submodule "hsoc-stack/components/primary_compute/optee-os"]
	path = hsoc-stack/components/primary_compute/optee-os
	url = git@github.com:cometzero/optee_os.git
	branch = apollo-fvp-optee-4.7
[submodule "hsoc-stack/components/primary_compute/buildroot"]
	path = hsoc-stack/components/primary_compute/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2026.02.x
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/bootloader/mcuboot"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/bootloader/mcuboot
	url = https://github.com/zephyrproject-rtos/mcuboot
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/bsim_hw_models/nrf_hw_models"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/bsim_hw_models/nrf_hw_models
	url = https://github.com/zephyrproject-rtos/nrf_hw_models
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/crypto/mbedtls"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/crypto/mbedtls
	url = https://github.com/zephyrproject-rtos/mbedtls
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/crypto/tinycrypt"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/crypto/tinycrypt
	url = https://github.com/zephyrproject-rtos/tinycrypt
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/debug/mipi-sys-t"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/debug/mipi-sys-t
	url = https://github.com/zephyrproject-rtos/mipi-sys-t
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/debug/percepio"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/debug/percepio
	url = https://github.com/zephyrproject-rtos/percepio
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/debug/segger"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/debug/segger
	url = https://github.com/zephyrproject-rtos/segger
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/fs/fatfs"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/fs/fatfs
	url = https://github.com/zephyrproject-rtos/fatfs
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/fs/littlefs"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/fs/littlefs
	url = https://github.com/zephyrproject-rtos/littlefs
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/adi"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/adi
	url = https://github.com/zephyrproject-rtos/hal_adi
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/altera"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/altera
	url = https://github.com/zephyrproject-rtos/hal_altera
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/ambiq"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/ambiq
	url = https://github.com/zephyrproject-rtos/hal_ambiq
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/atmel"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/atmel
	url = https://github.com/zephyrproject-rtos/hal_atmel
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/cmsis"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/cmsis
	url = https://github.com/zephyrproject-rtos/cmsis
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/espressif"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/espressif
	url = https://github.com/zephyrproject-rtos/hal_espressif
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/ethos_u"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/ethos_u
	url = https://github.com/zephyrproject-rtos/hal_ethos_u
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/gigadevice"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/gigadevice
	url = https://github.com/zephyrproject-rtos/hal_gigadevice
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/infineon"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/infineon
	url = https://github.com/zephyrproject-rtos/hal_infineon
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/intel"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/intel
	url = https://github.com/zephyrproject-rtos/hal_intel
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/libmetal"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/libmetal
	url = https://github.com/zephyrproject-rtos/libmetal
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/microchip"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/microchip
	url = https://github.com/zephyrproject-rtos/hal_microchip
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/nordic"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/nordic
	url = https://github.com/zephyrproject-rtos/hal_nordic
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/nuvoton"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/nuvoton
	url = https://github.com/zephyrproject-rtos/hal_nuvoton
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/nxp"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/nxp
	url = https://github.com/zephyrproject-rtos/hal_nxp
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/openisa"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/openisa
	url = https://github.com/zephyrproject-rtos/hal_openisa
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/quicklogic"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/quicklogic
	url = https://github.com/zephyrproject-rtos/hal_quicklogic
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/renesas"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/renesas
	url = https://github.com/zephyrproject-rtos/hal_renesas
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/rpi_pico"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/rpi_pico
	url = https://github.com/zephyrproject-rtos/hal_rpi_pico
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/silabs"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/silabs
	url = https://github.com/zephyrproject-rtos/hal_silabs
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/st"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/st
	url = https://github.com/zephyrproject-rtos/hal_st
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/stm32"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/stm32
	url = https://github.com/zephyrproject-rtos/hal_stm32
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/tdk"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/tdk
	url = https://github.com/zephyrproject-rtos/hal_tdk
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/telink"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/telink
	url = https://github.com/zephyrproject-rtos/hal_telink
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/ti"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/ti
	url = https://github.com/zephyrproject-rtos/hal_ti
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/wch"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/wch
	url = https://github.com/zephyrproject-rtos/hal_wch
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/wurthelektronik"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/wurthelektronik
	url = https://github.com/zephyrproject-rtos/hal_wurthelektronik
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/xtensa"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/hal/xtensa
	url = https://github.com/zephyrproject-rtos/hal_xtensa
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/acpica"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/acpica
	url = https://github.com/zephyrproject-rtos/acpica
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/cmsis-dsp"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/cmsis-dsp
	url = https://github.com/zephyrproject-rtos/cmsis-dsp
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/cmsis-nn"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/cmsis-nn
	url = https://github.com/zephyrproject-rtos/cmsis-nn
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/cmsis_6"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/cmsis_6
	url = https://github.com/zephyrproject-rtos/CMSIS_6
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/gui/lvgl"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/gui/lvgl
	url = https://github.com/zephyrproject-rtos/lvgl
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/hostap"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/hostap
	url = https://github.com/zephyrproject-rtos/hostap
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/liblc3"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/liblc3
	url = https://github.com/zephyrproject-rtos/liblc3
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/libmctp"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/libmctp
	url = https://github.com/zephyrproject-rtos/libmctp
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/loramac-node"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/loramac-node
	url = https://github.com/zephyrproject-rtos/loramac-node
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/nrf_wifi"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/nrf_wifi
	url = https://github.com/zephyrproject-rtos/nrf_wifi
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/open-amp"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/open-amp
	url = https://github.com/zephyrproject-rtos/open-amp
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/openthread"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/openthread
	url = https://github.com/zephyrproject-rtos/openthread
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/picolibc"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/picolibc
	url = https://github.com/zephyrproject-rtos/picolibc
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/uoscore-uedhoc"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/uoscore-uedhoc
	url = https://github.com/zephyrproject-rtos/uoscore-uedhoc
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/zcbor"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/lib/zcbor
	url = https://github.com/zephyrproject-rtos/zcbor
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/tee/tf-a/trusted-firmware-a"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/tee/tf-a/trusted-firmware-a
	url = https://github.com/zephyrproject-rtos/trusted-firmware-a
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/modules/tee/tf-m/trusted-firmware-m"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/modules/tee/tf-m/trusted-firmware-m
	url = https://github.com/zephyrproject-rtos/trusted-firmware-m
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/tools/edtt"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/tools/edtt
	url = https://github.com/zephyrproject-rtos/edtt
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/tools/net-tools"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/tools/net-tools
	url = https://github.com/zephyrproject-rtos/net-tools
[submodule "hsoc-stack/components/system_mgmt/zephyrproject/zephyr"]
	path = hsoc-stack/components/system_mgmt/zephyrproject/zephyr
	url = git@github.com:cometzero/zephyr.git
	branch = apollo-fvp-zephyr-4.1
