#
# SPDX-FileCopyrightText: <text>Copyright 2026 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: Apache-2.0

config PFDI_AGENT
	bool "PFDI Agent"
	default y
	depends on DT_HAS_ARM_PFDI_AGENT_ENABLED
	depends on MBOX
	help
	  Enable PFDI Agent for sending status from Safety Island
	  Cluster 1 to Cluster 0 via SCMI over MHUv3.

if PFDI_AGENT

config PFDI_AGENT_INIT_PRIORITY
	int "PFDI Agent init priority"
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  PFDI Agent initialization priority.
	  Must be higher than mailbox driver priority.

module = PFDI_AGENT
module-str = pfdi_agent
source "subsys/logging/Kconfig.template.log_config"

endif # PFDI_AGENT
