#
# SPDX-FileCopyrightText: <text>Copyright 2024-2026 Arm Limited and/or its
# affiliates <open-source-office@arm.com></text>
#
# SPDX-License-Identifier: MIT

# Boot time optimization
CONFIG_RAID6_PQ_BENCHMARK=n

CONFIG_ARM_SBSA_WATCHDOG=y

CONFIG_ARM64_VA_BITS_48=y

CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_REGULATOR_VEXPRESS=y
CONFIG_PWRSEQ_EMMC=y
CONFIG_PWRSEQ_SIMPLE=y
CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_PLTFM=y
CONFIG_MMC_ARMMMCI=y
CONFIG_ARM_DSU_PMU=y
CONFIG_PERF_EVENTS=y

# OP-TEE
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_ARM_TSTEE=y

# power control features
CONFIG_CPU_IDLE=y
CONFIG_ARM_PSCI_CPUIDLE=y
CONFIG_CPU_IDLE_GOV_MENU=y

CONFIG_CPU_FREQ=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_ARM_SCMI_CPUFREQ=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y

# Enable SMMUv3
CONFIG_ARM_SMMU_V3=y
